<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding: 20px 20px;">
            <a href="#add-user" class="btn btn-primary">Add User</a>
        </div>
        <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Age</td>
                </tr>
            </thead>
            <tbody>
                <% _.each(users, function(user) {%>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.age %></td>
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>
    </div>
</div>